Package: com.robottom.customflash
Name: CustomFlash
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Replaces screenshot flash with banner notification.
Maintainer: Aaron Thomas
Author: Aaron Thomas
Section: Tweaks
